body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.7rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid {
  padding: 6% 15%;
}

/* Navbar brand */

.navbar {
  padding: 0 1rem 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 15px 15px;
}

.nav-link {
  font-family: 1.25rem;
}

/* Title Section */

#title {
  background-color: darksalmon;
  color: whitesmoke;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Download buttons */

.download-button {
  margin: 5% 3% 5% 0%;
}

/* Title image */

.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 25%;
}

/* Features */

#features {
  background-color: white;
  position: relative;
}

.feature-title {
  font-size: 2rem;
  font-weight: 900;
}

.feat-box {
  padding: 7%;
}

.icon {
  color: darksalmon;
  margin-bottom: 1.1rem;
}

.icon:hover {
  color: cornflowerblue;
}

/* Testimonials */

#testimonials {
  background-color: darksalmon;
  color: whitesmoke;
}

.testimonnial-text {
  font-size: 2.7rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 14%;
  border-radius: 100%;
  margin: 19px;
}

/* Press */

#press {
  background-color: darksalmon;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section*/

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 2.7rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 4% 3%;
}

/* Call to action (footer) */

#cta {
  background-color: darksalmon;
  color: whitesmoke;
}

.cta-heading {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer {
  background-color: white;
}

.social-icon {
  margin: 25px 12px;
  color: darksalmon;
}

.social-icon:hover {
  color: cornflowerblue;
}

/* MEDIA QUERIES - always goes last*/

@media (max-width: 1200px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0);
  }
}
